.ruby, .c, .css, .leftover {
  display: none;
  border-radius: 5px;
  margin-bottom: 40px;
}
body {
  background-image: url("../img/code.jpg");
  background-attachment: fixed;
  display: block;
}
.jumbotron {
  margin-top: 80px;
  text-align: center;
  background-color: #6fc3ce;
  color: white;
  padding: 40px;
}
.panel-body {
  background-color: #bee0e5;
}
.panel {
  border-radius: 10px;
}
#nameTitle {
  background-color: #f99991;
  width: 200px;
  padding: 3px;
}
button {
  background-color: #f99991;
  color: white;
}
.panel-heading p {
  font-size: 25px;
  text-align: center;
}
img {
  width: 700px;
  height: 300px;
  padding-left: 130px;
  padding-top: 5px;
}
.panel-heading  {
  background-color: #ffcbb9;
}
.trackOutput {
  width: 900px;
  height: 500px;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 140px;
}
